body::after {
   /*background: url(img/background.jpeg);*/
    content: "";
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

.map{
    height: 100%;
    width: 30%;
}
/*.button_group{*/
    /*margin-right: 10%;*/
    /*margin-left: 10%;*/
/*}*/

.yaron_header{
    background: #007bff;
    color: white;
    width: 100%;
margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;


}

.row{
    text-align: center;
    border-style: dotted;
}
.col-md{
    text-align: center;
    width: 50%;
    border-style: dotted;
}
.col-sm{
    text-align: center;
    width: 50%;
    border-style: dotted;
}

.alexandria{
    width: 70%;
    height: 70%;
}
